body {
    font-family: "Montserrat", sans-serif;
    color: #2e2f42;
}

.input-block {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 156px;
    height: 40px;
}

#datetime-picker {
    width: 272px;
    height: 40px;
    padding-left: 16px;
    border-radius: 4px;
    border: 1px solid #808080;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
    outline: none;
    transition: border-color 0.3s;
}


#datetime-picker:hover {
    border-color: #2e2f42;
}

#datetime-picker:focus {
    border-color: #4e75ff;
}

#datetime-picker:disabled {
    border-color: #808080;
    background-color: #fafafa;
    color: #808080;
    cursor: not-allowed;
}

.input-block button {
    width: 75px;
    height: 40px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background-color: #4e75ff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.input-block button:hover:not(:disabled) {
    background-color: #6c8cff;
}

.input-block button:disabled {
    background-color: #cfcfcf;
    color: #989898;
    cursor: not-allowed;
}

.timer {
    display: flex;
    gap: 24px;
    margin-top: 32px;
    margin-left: 156px;
}

.field {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.value {
    font-size: 40px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.label {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
}